.modal{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;   
    display: flex;
    display: none;
}

.modal__body{
    margin: auto;
    background-color: white;
    border-radius: 4px;
    z-index: 2;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;

}

.auth-form{
    width: 450px;
}
.auth-form__container{
    margin: 0 20px ;  
    display: flex;
    flex-direction: column;  
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color)
}
.auth-form__LoginText{

}
.auth-form__switch-btn{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}
.auth-form__body{

}
.auth-form__group{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 10px 0;
}
.auth-form__control{
    display: flex; 
    flex-direction: row-reverse;
    justify-content: right;
    padding-top: 70px;
    padding-bottom: 20px;
}

.submit-btn{
    background-color: var(--primary-color);
    color: white;
}

.back-btn{
    color: #000;
    background-color: transparent;
}

.transp-btn:hover{
    background-color: rgba(0,0,0,0.1);
}
.auth-form__policy{

}
.auth-form__footer{
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    padding: 10px;
}

.auth-form__input{
    height: 33px;
    font-size: 1rem;
    padding: 0 10px;
}

.iagree{
    text-decoration: none;
    color: var(--primary-color);
}

.btn.btn-face{
    padding: 2px 20px;
    background-color: #1092f4;
    color: white;
    font-size: 0.9rem;
}

.btn.btn-gg{
    padding: 2px 20px;
    background-color:white;
    color: var(--text-color);
    font-size: 0.9rem;
}

.auth-form__addition{
  
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-split{
    height: 19px;
    border-left: 1px solid #888;
}

.alink-pri{
    text-decoration: none;
    color: var(--primary-color);
    padding: 0 6px;
}

.reg-form, .login-form{
    display: none;
}

  



